@import './modules/variables.css';
@import './modules/header.css';
@import './modules/nav.css';
@import './modules/list.css';


.body{
    font-family: var(--primary-font-family);
    background-color: var(--primary-theme-color);
    color: var(--primary-text-color);
} 